{{>_global/head}}
{{> organisms/header}}

<div class="tl-split-view">
	<div class="tl-split-content">
		<div class="tl-header-container">
			<div class="tl-header-logo">
				<img src="https://placehold.it/58x60">
			</div>
			{{> organisms/cloudsign-header-menu}}
			{{> molecules/header-right title="Quotation 2016/04 - Logo design" status-class="bg-redded" status-text="overdue"}}
		</div>
        <div class="tl-split-body-wrapper">
            <div>
                <div class="tl-split-body">
                    <!-- quotation card detail -->
                    {{> organisms/quotation-card-detail status-class="text-redded" status-text="overdue"}}
                    {{> organisms/quotation-card-detail status-class="text-pending" status-text="not paid"}}
                    {{> organisms/quotation-card-detail status-class="text-success" status-text="paid"}}
                    <br/>
                    {{> organisms/invoice-feedback-card}}
                    <br/>
                    {{> organisms/invoice-feedback}}
                </div>
                <div class="tl-split-footer">
                    <div class="text-left pull-left">
                        <button class="tl-btn primaryed transparent" data-action="download" id="download-quotation">download</button>
                    </div>
                    <div class="text-right pull-right">
                        <button class="tl-btn primaryed transparent" data-action="give-feedback" id="give-feedback">feedback</button>
                        <button class="tl-btn secondaryed" data-action="accept" id="accept-quotation">accept this quotation</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="tl-split-bg"></div>
</div>


{{>_global/foot}}