{{>_global/head}}
{{> organisms/header}}

<div class="tl-split-view">
	<div class="tl-split-content">
		<div class="tl-header-container">
			<div class="tl-header-logo">
				<img src="https://placehold.it/58x60">
			</div>
			{{> organisms/cloudsign-header-menu}}
			{{> molecules/header-right title="Quotation 2016/04 - Logo design" subtitle="pending"}}
		</div>

		<div class="tl-split-body">
			<!-- {{> molecules/full-width-card}} -->
			<textarea></textarea>
			<div class="text-right">
				{{> atoms/button text="send" classes="secondaryed"}}
			</div>
			<!-- <br>
			{{> organisms/invoice-feedback}}
			<br>
			<div class="tl-quotation">
				<iframe src="http://placehold.it/525x2000"></iframe>
				<div class="tl-quotation-footer">
					<div class="text-left pull-left">
						{{> atoms/button text="download" classes="primaryed"}}
					</div>
					<div class="text-right pull-right">
 						{{> atoms/button text="give feedback" classes="primaryed"}}
						{{> atoms/button text="accept" classes="secondaryed"}}
					</div>
				</div>
			</div>
			<br>
			{{> organisms/quotation-card}}-->
			<br>
			{{> organisms/quotation-card-detail}}
			{{> organisms/quotation-card-detail}}
			{{> organisms/quotation-card-detail}}
		</div>
	</div>
	<div class="tl-split-bg"></div>
</div>


{{>_global/foot}}