{{>_global/head}}
{{> organisms/header}}

<div class="tl-split-view">
	<div class="tl-split-content">
		<div class="tl-header-container">
			<div class="tl-header-logo">
				<img src="https://placehold.it/58x60">
			</div>
			{{> organisms/cloudsign-header-menu}}
			{{> molecules/header-right title="Quotation 2016/04 - Logo design" status-class="bg-redded" status-text="overdue"}}
		</div>
        <div class="tl-split-body-wrapper">
            <div>
                <div class="tl-split-body">
                    <!-- quotation detail -->
                    {{> organisms/quotation-card-detail status-class="text-redded" status-text="overdue"}}
                    {{> organisms/quotation-card-detail status-class="text-pending" status-text="not paid"}}
                    {{> organisms/quotation-card-detail status-class="text-success" status-text="paid"}}
                    <br/>
                    <div class="tl-card tl-container">
                        <div class="details-text">Have you found a typo, or changed address? You may now change your details yourself. But note that only future documents will use the new information. If you want something changed on current documents, use the feedback tab.</div>
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <div for="name" class="col-xs-5 control-label muted">First name</div>
                                        <div class="col-xs-7">
                                            <input type="text" class="form-control" placeholder="Rui" data-attr="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div for="name" class="col-xs-5 control-label muted">Last name</div>
                                        <div class="col-xs-7">
                                            <input type="text" class="form-control" placeholder="Molefas" data-attr="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div for="name" class="col-xs-5 control-label muted">Email</div>
                                        <div class="col-xs-7">
                                            <input type="text" class="form-control" placeholder="" data-attr="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div for="name" class="col-xs-5 control-label muted">Tel.</div>
                                        <div class="col-xs-7">
                                            <input type="text" class="form-control" placeholder="" data-attr="name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <div for="name" class="col-xs-5 control-label muted">Address</div>
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" placeholder="Rui" data-attr="name">
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="text" class="form-control" placeholder="Rui" data-attr="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div for="name" class="col-xs-5 control-label muted"></div>
                                        <div class="col-xs-7">
                                            <input type="text" class="form-control" placeholder="" data-attr="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div for="name" class="col-xs-5 control-label muted"></div>
                                        <div class="col-xs-7">
                                            <input type="text" class="form-control" placeholder="" data-attr="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div for="name" class="col-xs-5 control-label muted">VAT</div>
                                        <div class="col-xs-7">
                                            <input type="text" class="form-control" placeholder="" data-attr="name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- send feedback -->
                    {{> organisms/invoice-feedback-card}}
                    <br/>
                    {{> organisms/invoice-feedback}}
                </div>
                {{> molecules/footer-menu}}
            </div>
        </div>
	</div>
	<div class="tl-split-bg"></div>
</div>


{{>_global/foot}}