{{>_global/head}}
{{> organisms/header}}

<div class="tl-split-view">
	<div class="tl-split-content">
		<div class="tl-header-container">
			<div class="tl-header-logo">
				<img src="https://placehold.it/58x60">
			</div>
			{{> organisms/cloudsign-header-menu}}
			{{> molecules/header-right title="Quotation 2016/04 - Logo design" status-class="bg-redded" status-text="overdue"}}
		</div>
        <div class="tl-split-body-wrapper">
            <div>
                <div class="tl-split-body">
                    <!-- Invoice dropdown -->
                    {{> molecules/invoice-dropdown text="quotations"}}
                    <!-- quotation detail -->
                    {{> organisms/quotation-card-detail status-class="text-redded" status-text="overdue"}}
                    {{> organisms/quotation-card-detail status-class="text-pending" status-text="not paid"}}
                    {{> organisms/quotation-card-detail status-class="text-success" status-text="paid"}}
                    <br/>
                    <!-- quotation accept -->
                    {{> organisms/quotation-accept name="Michael Myers"}}
                    <br/>
                    <!-- feedback send -->
                    {{> organisms/invoice-feedback-card}}
                    <br/>
                    <!-- feedback messages -->
                    {{> organisms/invoice-feedback}}
                </div>
                {{> molecules/footer-menu}}
            </div>
        </div>
	</div>
	<div class="tl-split-bg"></div>
</div>


{{>_global/foot}}