{{>_global/head}}
{{> organisms/header}}

<div class="tl-split-view">
	<div class="tl-split-content">
		<div class="tl-header">
			<div class="tl-header-logo">
				<img src="https://placehold.it/200x50">
			</div>
			{{> molecules/header-right title="Factuur 2016 / 23" subtitle="Status: not paid"}}
		</div>
		{{> organisms/invoice-header-menu}}

		<div class="tl-split-body">
			{{> molecules/full-width-card}}
			{{> organisms/invoice-feedback-card}}
			{{> organisms/invoice-pay-card}}
			{{> organisms/invoice-pay2-card}}
			{{> organisms/invoice-past}}
		</div>
	</div>
	<div class="tl-split-bg"></div>
</div>


{{>_global/foot}}