{{>_global/head}}
{{> organisms/header}}

<div class="tl-split-view">
	<div class="tl-split-content">
		<div class="tl-header">
			<div class="tl-header-logo">
				<img src="https://placehold.it/200x50">
			</div>
			{{> molecules/header-right-avatar name="Sanne De Waele" email="sanne@teamleader.be" phone="0473 28 25 17"}}
		</div>

		<div class="tl-split-body">
			{{> organisms/meeting-start-balloon-card}}
			{{> organisms/meeting-start-date-card}}
			{{> organisms/meeting-start-attendees-card}}
		</div>
	</div>
	<div class="tl-split-bg"></div>
</div>

{{>_global/foot}}