html {
	height: 100%;
}

body {
	background-color: $lighter-grey;
	font-family: $font-regular;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: $dark-blue;
	min-height: 100%;
	letter-spacing: 0.6px;
}

.content-container {
	max-width: 900px;
	margin: 0 auto;
}

.muted {
	opacity: .5;
}

.small {
	font-size: 12px;
}

.smaller {
	font-size: 11px;
	line-height: 1.2em;
	letter-spacing: 0.4px;
}

a {
	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
}

ul {
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

iframe {
	width: 100%;
	border: 0;
}

.text-redded {
	color: $red;
}

.text-success {
	color: $success;
}

.text-error {
	color: $error;
}

.text-warning {
	color: $warning;
}

.text-info {
	color: $info;
}

.text-pending {
  color: $orange;
}

.bg-redded {
  background-color: $red !important;
  color: $white;
}

.bg-success {
  background-color: $success !important;
  color: $white;
}

.bg-warning {
  background-color: $warning !important;
  color: $white;
}

.bg-error {
  background-color: $error !important;
  color: $white;
}

.bg-info {
  background-color: $info !important;
  color: $white;
}

.bg-pending {
  background-color: $orange !important;
  color: $white;
}

.text-error {
	color: $error;
}

.text-bold {
	font-weight: 600;
}

.error {
	background-color: $error;
	color: $white;
}

.success {
	background-color: $success;
	color: $white;
}

.text-primary {
	color: $product-primary;
}

.text-secondary {
	color: $product-secondary;
}

.primaryed {
	background-color: $product-primary;
}

.secondaryed {
	background-color: $product-secondary;
}

.text-red {
	color: $red;
}

.details-text {
  font-size: 13px;
  opacity: .7;
  margin-bottom: 35px;
}