html {
	height: 100%;
}

body {
	background-color: $light-grey;
	font-family: $font-regular;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: $dark-grey;
	min-height: 100%;
}

.content-container {
	max-width: 900px;
	margin: 0 auto;
}

.muted {
	opacity: .5;
}

.small {
	font-size: 11px;
}

a {
	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
}

ul {
	margin: 0;
	padding: 0;
}