.tl-card {
	background-color: #fff;
	box-shadow: $shadow;
	margin-bottom: 30px;

  	&.feedback {
	  margin-bottom: -30px;
	}

	.tl-card-header,
	.tl-card-footer,
	.tl-card-body {
		padding: 13px 19px;
	}

	.tl-card-header {
		font-family: $font-bold;
		line-height: 1.4em;
	  	font-size: 17px;
	}

	.tl-card-body {
		padding: 19px;

		.title {
			font-family: $font-bold;
			margin-bottom: 10px;
		}
	}

	// Table
	&.tl-table {

		thead {
			th {
				padding: 15px 5px 0px 5px;
				font-size: 13px;

				span {
					display: block;
					font-family: $font-bold;
					padding-bottom: 1px;
					border-bottom: 2px solid #bababa;
				}

				&:first-child {
					padding-left: 19px;
				}

				&:last-child {
					padding-right: 19px;
				}
			}
		}

		tbody {
			tr {
				td {
					font-size: 12px;
					padding: 11px 5px;
					line-height: 1em;
					border-bottom: 1px solid $light-grey;
					opacity: .7;

					&:first-child {
						padding-left: 19px;
					}

					&:last-child {
						padding-right: 19px;
					}
				}

				&:last-child {
					td {
						padding-bottom: 20px;
					}
				}
			}
		}
	}
}
	