textarea {
	width: 100%;
	min-height: 100px;
	border: 1px solid #d8d8d8;
	resize: none;
	margin-bottom: 15px;
	padding: 20px;
	font-size: 16px;
}

input, textarea {
	&::-webkit-input-placeholder {
	   font-family: $font-regular;
	   opacity: .7;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   font-family: $font-regular;
	   opacity: .7;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   font-family: $font-regular;
	   opacity: .7;
	}

	&:-ms-input-placeholder {  
	   font-family: $font-regular;
	   opacity: .7;
	}
}

label {
	font-size: 11px;
	// color: $dark-blue;
	font-weight: 400;
}

.form-group {
	input {
		border-radius: 0;
		border: 1px solid $light-grey;
		box-shadow: none;
		font-size: 11px;
		padding: 3px 7px;
		height: auto;
	}
}

.form-horizontal {
	margin-top: 20px;

	.control-label {
		padding-top: 3px;
		text-align: left;
	}
}

.calendar-input {
	display: inline-block;

	> input {
		display: inline-block;

		&.month {
			width: 35px;
		}

		&.year {
			width: 45px;
		}

		&:first-child {
			margin-left: 0;
		}
	}

	> .split {
		display: inline-block;
		margin: 0 10px;
	}
}

.tl-radio {
	position: relative;

	input[type=radio] {
	    display: none;

	    &:checked + label:after{
	    	position: absolute;
	    	left: 1px;
	    	bottom: 3px;
	    	content: "\2022";
		    // color: $product-secondary;
		    font-size: 66px;
		    text-align: center;
		    line-height: 18px;
	    }
	}

	label {
		display: inline-block;
	    cursor: pointer;
	    position: relative;
	    padding-left: 45px;
	    font-size: 13px;
	}

	label:before {
	    content: "";
	    display: inline-block;
	 	border-radius: 13px;
	    width: 26px;
	    height: 26px;	 
	    margin-right: 10px;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    background-color: $white;
	    border: 3px solid $light-grey;
	}
}