.modal-dialog {

	.modal-content {
		border-radius: 0;
		border: none;

		.modal-header,
		.modal-body,
		.modal-footer {
			padding: 20px;
		}

		.modal-body {
			font-size: 13px;
		}

		.modal-footer {
			border-top: none;
			padding-top: 0;

			.tl-btn {
				margin-right: 12px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&.mini {
		max-width: 330px;
	}
}