
/* Main colors variables */
$main-color: #00aca9;
$dark-blue: #2b3b4c;

// Product specific settings (Deloitte for tests)
// $product-primary: #021d5b;
// $product-secondary: #9ad100;
$product-primary: #00aca9;
$product-secondary: #2b3b4c;

// Grey scale
$dark-grey: #4e4e4e;
$grey: #444F5C;
$light-grey: #e9eae9;
$lighter-grey: #f4f4f4;
$white: #fff;

// Functional
$blue: #5488c4;
$green: #a3ce51;
$orange: #f68d43;
$red: #e8423b;

// Fonts
$font-regular: WhiteLabel, ProximaNovaRegular, Helvetica, sans-serif;
$font-semibold: WhiteLabel, ProximaNovaSemibold, Helvetica, sans-serif;
$font-bold: WhiteLabel, ProximaNovaBold, Helvetica, sans-serif;

// Shadows
$shadow: 0 0 5px 0 rgba(0,0,0,0.1);

// paddings

$padding-menu-vertical: 15px;