
/* Colour variables */
$main-color: #00aca9;
$dark-blue: #2b3b4c;
// $light-color: #8DB911;
// $dark-color: #222A41;
// $dark-grey: #2E2E2E;
// $light-grey: #ddd;
$grey: #444F5C;
$white: #fff;

// Functional
$blue: #5488c4;
$green: #a3ce51;
$orange: #f68d43;
$red: #e8423b;

/* Component colours */
// $mail-body: #f1f1f1;

// Fonts
$font-regular: ProximaNovaRegular, Helvetica, sans-serif;
$font-semibold: ProximaNovaSemibold, Helvetica, sans-serif;
$font-bold: ProximaNovaBold, Helvetica, sans-serif;