<div class="tl-card balloon watermark">
	<div class="tl-card-body">
		<div class="text-center">
			<div class="subtitle">{{subtitle}}</div>
			<div class="title">{{title}}</div>
			<div class="mark">
				<img src="https://d2yvv6a7kcdl71.cloudfront.net/56966a22bd0e6deb6363e10c/assets/55C94AD6-ACFC-4024-B796-114A9BD51AD9.png"></img>
			</div>
		</div>
		<div class="content">
			{{content}}
		</div>
	</div>
</div>