<div class="tl-card {{classes}}">
	<div class="tl-card-header">
		Card header
	</div>
	<div class="tl-card-body">
		Card body
	</div>
	<div class="tl-card-footer text-right">
		{{>atoms/button text="back" classes="transparent"}}
		{{>atoms/button text="next" classes="greened"}}
	</div>
</div>