<div class="tl-card">
	<div class="tl-card-header">
		Card header
	</div>
	<div class="tl-card-body">
		Card body
	</div>
	<div class="tl-card-footer text-right">
		<button class="tl-btn transparent">BACK</button>
		<button class="tl-btn greened">NEXT</button>
	</div>
</div>