<div class="tl-header-right tl-user-card align-right">
	<div class="user-data">
		<div class="user-name">{{name}}</div>
		<div class="muted smaller">{{email}}</div>
		<div class="muted smaller">{{phone}}</div>
	</div>
	{{> atoms/user-avatar}}
</div>