<div class="dropdown text-right">
    <button class="tl-drop text-drop" type="button" data-toggle="dropdown">Pending invoices
        <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#">All invoices</a></li>
        <li><a href="#">Pending invoices</a></li>
        <li><a href="#">Paid invoices</a></li>
        <li><a href="#">Overdue invoices</a></li>
    </ul>
</div>