<table class="tl-card tl-table">
	<thead>
		<th><span>Header1</span></th>
		<th><span>Header2</span></th>
		<th><span>Header3</span></th>
		<th><span>Header4</span></th>
	</thead>
	<tbody>
		<tr>
			<td>Item1</td>
			<td>Item2</td>
			<td>Item3</td>
			<td>Item4</td>
		</tr>
		<tr>
			<td>Item1</td>
			<td>Item2</td>
			<td>Item3</td>
			<td>Item4</td>
		</tr>
		<tr>
			<td>Item1</td>
			<td>Item2</td>
			<td>Item3</td>
			<td>Item4</td>
		</tr>
		<tr>
			<td>Item1</td>
			<td>Item2</td>
			<td>Item3</td>
			<td>Item4</td>
		</tr>
	</tbody>
</table>