{{> atoms/user-avatar classes="{{avatar-class}}"}}
<div class="feedback-detail">
	<div class="header">
		<div class="title">Name goes here</div>
		<div class="subtitle pull-right">02/12/2015 20:41</div>
	</div>
	<div class="subtitle">Beste klant,<br>
		U moet zich hier geen zorgen over maken. Komt allemaal keihard in orde!
	</div>
</div>