<div class="tl-card full feedback">
	<div class="tl-card-body">
		{{> organisms/invoice-feedback-detail avatar-class="you"}}
		{{> organisms/invoice-feedback-detail avatar-class="me"}}
		{{> organisms/invoice-feedback-detail avatar-class="you"}}
		{{> organisms/invoice-feedback-detail avatar-class="me"}}
	</div>
</div>