<div class="tl-card">
	<div class="tl-card-header">
		Choose your payment method
	</div>
	<div class="tl-card-body">

		<div class="tl-pay-methods">
			<div class="tl-pay-method">
				<div class="tl-radio">
	  				<input type="radio" name="payment" value="cc" id="cc" checked>
				  	<label for="cc">
				  		<img src="http://placehold.it/37x25">
				  	</label>
				</div>
				<div class="tl-pay-description">
					<div class="tl-pay-title">Credit Card</div>
					<div class="subtitle">Veilig en online betalen via uw eigen bank</div>
				</div>
			</div>
			<div class="tl-pay-method">
				<div class="tl-radio">
	  				<input type="radio" name="payment" value="ideal" id="ideal">
				  	<label for="ideal">
				  		<img src="http://placehold.it/37x25">
				  	</label>
				</div>
				<div class="tl-pay-description">
					<div class="tl-pay-title">iDEAL</div>
					<div class="subtitle">Veilig en online betalen via uw eigen bank</div>
				</div>
			</div>
			<div class="tl-pay-method">
				<div class="tl-radio">
	  				<input type="radio" name="payment" value="mister" id="mister">
				  	<label for="mister">
				  		<img src="http://placehold.it/37x25">
				  	</label>
				</div>
				<div class="tl-pay-description">
					<div class="tl-pay-title">Bancontact/Mister Cash</div>
					<div class="subtitle">Veilig en online betalen via uw eigen bank</div>
				</div>
			</div>
			<div class="tl-pay-method">
				<div class="tl-radio">
	  				<input type="radio" name="payment" value="transfer" id="transfer">
				  	<label for="transfer">
				  		<img src="http://placehold.it/37x25">
				  	</label>
				</div>
				<div class="tl-pay-description">
					<div class="tl-pay-title">Bank transfer</div>
					<div class="subtitle">Veilig en online betalen via uw eigen bank</div>
				</div>
			</div>
			<div class="tl-pay-method">
				<div class="tl-radio">
	  				<input type="radio" name="payment" value="sepa" id="sepa">
				  	<label for="sepa">
				  		<img src="http://placehold.it/37x25">
				  	</label>
				</div>
				<div class="tl-pay-description">
					<div class="tl-pay-title">SEPA Direct Debit</div>
					<div class="subtitle">Veilig en online betalen via uw eigen bank</div>
				</div>
			</div>
		</div>

	</div>
	<div class="tl-card-footer text-right">
		{{> atoms/button text="next" classes="greened"}}
	</div>
</div>