<div class="tl-card tl-container">
	<div class="tl-card-header">
        Pay with bank transfer
	</div>
	<div class="tl-card-body">
		<div class="subtitle">Please transfer the amount of <strong>$ 513</strong> to our bank account. Use the invoice number <strong>123-ABC</strong> as a reference. When we received the funds, we will mark this invoice as payed.</div>

		<div class="tl-payment-details">
            <div class="tl-card-header">Payment details:</div>
            <div class="row">
                <div class="col-xs-6 subtitle">
                    <ul>
                        <li>Meatdealer Inc.</li>
                        <li>Meatstreet 123</li>
                        <li>9000 Ghent</li>
                        <li>IBAN: BE032830103847</li>
                        <li>BIC: KREDBB</li>
                    </ul>
                </div>
                <div class="col-xs-6 subtitle">
                    <ul>
                        <li>Amount: $ 513</li>
                        <li>Reference: 123-ABC</li>
                    </ul>
                </div>
            </div>
        </div>

	</div>
</div>