<table class="tl-card tl-table">
	<thead>
		<th><span>Nr</span></th>
		<th><span>Amount</span></th>
		<th><span>Date</span></th>
		<th><span>Status</span></th>
	</thead>
	<tbody>
		<tr>
			<td>2016 / 23</td>
			<td>€ 100,00</td>
			<td>02/03/2016</td>
			<td>Not paid</td>
		</tr>
		<tr>
			<td>2016 / 23</td>
			<td>€ 100,00</td>
			<td>02/03/2016</td>
			<td class="text-redded">Overdue</td>
		</tr>
		<tr>
			<td>2016 / 23</td>
			<td>€ 100,00</td>
			<td>02/03/2016</td>
			<td>Not paid</td>
		</tr>
		<tr>
			<td>2016 / 23</td>
			<td>€ 100,00</td>
			<td>02/03/2016</td>
			<td>Not paid</td>
		</tr>
	</tbody>
</table>