<div class="tl-card full feedback">
	<div class="tl-card-body">
		{{> organisms/invoice-feedback-detail avatar-class="client"}}
		{{> organisms/invoice-feedback-detail avatar-class="enterprise"}}
		{{> organisms/invoice-feedback-detail avatar-class="client"}}
		{{> organisms/invoice-feedback-detail avatar-class="enterprise"}}
	</div>
</div>