<div class="tl-card">
	<div class="tl-card-header">
		Attendees
	</div>
	<div class="tl-card-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="tl-user-card mini">
					<div class="user-data">
						<div class="user-name">Sanne De Waele</div>
					</div>
					{{> atoms/user-avatar}}
				</div>
			</div>
			<div class="col-sm-6">
				<div class="tl-user-card mini">
					<div class="user-data">
						<div class="user-name">Sanne De Waele</div>
					</div>
					{{> atoms/user-avatar}}
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-sm-6">
				<div class="tl-user-card mini">
					<div class="user-data">
						<div class="user-name">Sanne De Waele</div>
					</div>
					{{> atoms/user-avatar}}
				</div>
			</div>
		</div>	
	</div>
</div>