<div class="tl-header-right tl-user-card align-right">
	<div class="user-data">
		<div class="user-name">Sanne De Waele</div>
		<div class="muted smaller">sanne@teamleader.be</div>
		<div class="muted smaller">0473 28 25 17</div>
	</div>
	<div class="user-avatar">
		<img src="http://placehold.it/100x100">
	</div>
</div>