<div class="tl-card">
	<div class="tl-card-header">
		Make your choice
	</div>
	<div class="tl-card-body">
		<div class="tl-card-row date">
			<div class="tl-radio text-secondary">
  				<input type="radio" name="date" value="day1" id="day1" checked>
			  	<label for="day1">&nbsp;</label>
			</div>
			<div class="tl-card-row-day text-secondary">VRIJDAG</div>
			<div class="tl-card-row-date">25 Sep 2015</div>
			<div class="tl-card-row-time">11:00 - 12:00</div>
		</div>
		<div class="tl-card-row date">
			<div class="tl-radio text-secondary">
  				<input type="radio" name="date" value="day2" id="day2">
			  	<label for="day2">&nbsp;</label>
			</div>
			<div class="tl-card-row-day text-secondary">VRIJDAG</div>
			<div class="tl-card-row-date">25 Sep 2015</div>
			<div class="tl-card-row-time">11:00 - 12:00</div>
		</div>
		<div class="tl-card-row date">
			<div class="tl-radio text-secondary">
  				<input type="radio" name="date" value="day3" id="day3">
			  	<label for="day3">&nbsp;</label>
			</div>
			<div class="tl-card-row-day text-secondary">VRIJDAG</div>
			<div class="tl-card-row-date">25 Sep 2015</div>
			<div class="tl-card-row-time">11:00 - 12:00</div>
		</div>
	</div>
	<div class="tl-card-footer btn-footer secondaryed">
		<ul>
			<li class="secondaryed"><a>More options</a></li>
		</ul>
	</div>
</div>