<div class="tl-card tl-container">
    {{> molecules/notification type="success" message="Changes have been saved!" classes="mb25"}}
    {{> molecules/notification type="error" message="You did something wrong!" classes="mb25"}}
    {{> molecules/notification type="warning" message="Don’t do that!" classes="mb25"}}
    {{> molecules/notification type="info" message="Did you know…"}}
</div>