<div class="tl-card quotation-detail">
	<div class="tl-card-body tl-table">
		<div>
			<div class="title">Quottion 2016/04</div>
			<div class="subtitle">Project: website</div>
		</div>
		<div>
			<div class="subtitle">07/04/16</div>
			<div class="subtitle text-red"><em>Status: pending</em></div>
		</div>
		<div>
			{{> atoms/button text="view this offer" classes="primaryed"}}
		</div>
	</div>
</div>