<div class="tl-container signing" id="accept">
    <h2>Accept quotation by signing</h2>

    <form class="form-horizontal">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <div for="name" class="col-xs-5 control-label muted">Your name</div>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" placeholder="" data-attr="name" value="{{name}}">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <div for="name" class="col-xs-5 control-label muted">Function</div>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="signature-wrapper">
        <div class="signature">{{name}}</div>
    </div>
    <canvas class="accept-modal" width="560" height="251" style="touch-action: none;"></canvas>
    <div data-action="sign" class="accept-action sign" id="add-signature"><i class="fa fa-pencil"></i> add signature</div>
    <span data-action="cancel" class="accept-action cancel" id="cancel-signature"><i class="fa fa-ban"></i> cancel</span>
    <span data-action="clear" class="accept-action clear" id="clear-signature"><i class="fa fa-eraser"></i> clear</span>
</div>