<div class="tl-card">
	<div class="tl-card-body text-center">
		<div class="title">This quotation was accepted</div>
		<div class="subtitle">You have other <span class="text-secondary">4 other quotations</span> that need reviewing </div>
	</div>
</div>