<div class="tl-card">
	<div class="tl-card-header">Related contacts</div>
	<div class="tl-card-body">
		<div class="row">
			<div class="col-xs-4">
				{{> molecules/user-card}}
			</div>
			<div class="col-xs-4">
				{{> molecules/user-card}}
			</div>
			<div class="col-xs-4">
				{{> molecules/user-card}}
			</div>
		</div>
	</div>
</div>